
/* typography */
.h1, .h2, .h3 {
  font-family: 'Manrope', Helvetica, sans-serif;
  font-weight: normal;
  color: white;
}

p {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: normal;
}

.h1 {
  font-size: 2.1875rem;
}

.h2 {
  font-size: 1.875rem;
}

.h3 {
  font-size: 1.5625rem;
}

.h3 {
  font-size: 1.5625rem;
}

.h4 {
  font-size: 1.25rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
