
/* typography */
.h1, .h2, .h3 {
  font-weight: bold;
  color: white;
}

p {
  font-weight: normal;
}

.h1 {
  font-size: 2.1875rem;
}

.h2 {
  font-size: 1.875rem;
}

.h3 {
  font-size: 1.5625rem;
}

.h3 {
  font-size: 1.5625rem;
}

.h4 {
  font-size: 1.25rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.skeleton-animation {
  animation: skeleton 1.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

*::selection {
  color: white;
  background-color: #BB204F;
}
