$primary_color: #0000FF;

$text_highlight: white;
$text_color: #C7BFE2;
$text_muted: #877BAC;

$icon_disabled: #2E4065;
$icon_selected: #73ECCB;

$logo_color: #EF5E86;
$max_width: 1280px;

$bg_100: #0F1829;
$bg_200: #151E30;
$bg_300: #1C273B;
$bg_400: #222C41;
$bg_500: #2C3850;
$bg_600: #343F57;

$ui_bg: #2E4065;
$ui_bg_hover: #293958;

$heading_font: "Manrope";
$text_font: "Source Sans Pro";

$ui_primary: #2775CF;
$ui_primary_hover: #2562a7;

$btn_primary: #3870C5;
$btn_primary_hover: #2b5eac;
$btn_primary_active: #234d8b;
$btn_secondary: #2E9A8B;
$btn_secondary_hover: #227e72;
$btn_secondary_active: #21776c;
