$text_highlight: white;
$text_color: #B5B8C1;
$text_muted: #828898;

$icon_disabled: #4D525E;
$icon_selected: white;

$logo_color: #EF5E86;
$max_width: 1280px;

$bg_100: #0C0E14;
$bg_150: #11141C;
$bg_200: #191C24;
$bg_300: #1E212A;
$bg_400: #282b35;
$bg_500: #363944;
$bg_600: #454853;

$ui_bg_2: #272B36;
$ui_bg: #272B36;
$ui_bg_hover: #30343f;

$heading_font: "Open Sans";
$text_font: "Open Sans";

$ui_primary: #c73d66;
$ui_primary_hover: #df4573;

$btn_primary: #c73d66;
$btn_primary_hover: #df4573;
$btn_secondary: #2E9A8B;
$btn_secondary_hover: #227e72;
$btn_secondary_active: #21776c;

$blue_tag: #2B88F2;

$embed_green: #73ECCB;
$embed_code: #191C24;
